.form-control {
    margin-right: 5px;
}

.small-font {
    font-size: smaller;
}

html {
    scroll-behavior: smooth;
}

.slots {
    background-image: linear-gradient(rgba(255, 255, 255, 0.493), rgba(255, 255, 255, 0.493)), url(img/vac-bg.png);
}

.fixedbottom {
    position: fixed;
    bottom: -4px;
    right: 10px;
    text-align: right;
    margin-bottom: 10px;
    /*   margin-right: 10px; */
    margin-left: 20px !important;
    width: 100px;
}

.small-img {
    width: 80%;
}

.headText {
    width: 100%;
    margin-top: 12px;
    padding-bottom: 12px;
    font-size: 30px;
    text-align: center;
    position: relative;
}

.yellow {
    color: yellow;
}

.embeds {
    background-image: linear-gradient(rgba(255, 255, 255, 0.493), rgba(255, 255, 255, 0.493)), url(img/back3.jpg);
}


/* .video-card {
    min-height: 300px;
} */

::-webkit-scrollbar {
    width: 8px;
}

 ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2)
}