.form-control {
    margin-right: 5px;
}

.small-font {
    font-size: smaller;
}

html {
    scroll-behavior: smooth;
}

body {
    color: rgb(0, 0, 0);
}


/* .card-body {
    color: rgb(255, 255, 255);
} */

.slots {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(img/vac-bg.png);
}

.fixedbottom {
    position: fixed;
    bottom: -4px;
    right: 10px;
    text-align: right;
    margin-bottom: 10px;
    /*   margin-right: 10px; */
    margin-left: 20px !important;
    width: 100px;
}

.small-img {
    width: 80%;
}

.headText {
    width: 100%;
    margin-top: 12px;
    padding-bottom: 12px;
    font-size: 25px;
    text-align: center;
    position: relative;
}


/* .yellow {
    color: rgb(236, 211, 67);
} */

.embeds {
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(img/back3.jpg);
}

.src-footer {
    right: 10px;
    margin-left: 20px !important;
    text-align: right !important;
    position: relative;
}

.cd-footer {
    text-align: right !important;
    padding-right: 10px;
    padding-bottom: 10px;
    background: hsl(219, 51%, 89%);
}


/* .highlight {
    background-color: rgba(255, 255, 255, 0.877);
    border-radius: 5%;
} */

::-webkit-scrollbar {
    width: 8px;
}

 ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2)
}